<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<!-- <title></title> -->
<head>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms@0.5.7/src/index.min.js"></script> -->
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/home.css">

    <!-- <script src="/js/phaser.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/barba-fade.js"></script>
</head>

<body id="swup" data-barba="container" data-barba-namespace="payment_page" class="bg-[url('/png/Background_1.png')] bg-center bg-cover h-screen bg-no-repeat">
    <!-- remove or comment unused configs before publish -->
    <main class="absolute top-0 left-0 flex flex-col items-center justify-center w-full">
        <div class="flex items-center justify-center w-full sm:w-3/4 lg:w-1/2">
            
            <div class="bg-[#24334b] rounded-lg bg-contain bg-center bg-no-repeat text-white my-5 p-5 w-full sm:w-9/12 mx-auto">
                <!-- <img src="/png/gui/MessagePanel.png" alt=""> -->
                 <div class="text-center">
                    <h2 class="my-2 text-3xl font-semibold">Win the Jackpot!</h2>
                    <h3 class="text-xl">1,000,000 USD</h3>
                    <video class="mx-auto" width="150" height="" autoplay muted loop>
                        <source src="/png/gold2.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                 </div>
                 <form action="/submit_payment_page" method="post" class="w-full">
                    <div class="my-5">
                        <div class="flex justify-between w-full my-5">
                            <div class="w-full mx-1">
                                <label for="full_name" class="text-xs">Full Name</label>
                                <input type="text" class="w-full px-1 text-black rounded" name="full_name" id="full_name" required>
                            </div>
                            <div class="w-full mx-1">
                                <label for="email" class="text-xs">Email</label>
                                <input type="email" class="w-full px-1 text-black rounded" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="flex justify-between w-full my-5">
                            <div class="w-full mx-1">
                                <label for="first_name" class="text-xs">Amount</label>
                                <input type="number" class="w-full px-1 text-black rounded" name="amount" id="amount" required>
                            </div>
                            <div class="w-full mx-1">
                                <label for="last_name" class="text-xs">Currency</label>
                                <select name="currency" id="currency" class="w-full px-1 text-black rounded" required>
                                    <option value="">Select a currency</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                    <option value="GBP">GBP</option>
                                </select>
                                
                            </div>
                        </div>
                        

                        
                        <div class="mt-10">
                            <!-- <p class="mb-2 text-lg text-center">Buy More Credits</p> -->

                            <div id="submit_payment" class="p-1 mx-auto text-base text-center uppercase bg-green-600 rounded-full cursor-pointer w-72">
                                Pay ($1.99 per 100 credits)
                            </div>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </main>
    <script>
        const validateEmail = (email) => {
            return String(email)
            .toLowerCase()
            .match(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };
        $(document).ready(function(){
            
            $("#submit_payment").click(function(){
                let first_name = $("#first_name").val();
                let last_name = $("#last_name").val();
                let currency = $("#currency").val();
                let amount = $("#amount").val();
                let email = $("#email").val();


                console.log(amount, currency);
                if(currency.length < 1){
                    alert("Select a currency!")
                }
                if(!validateEmail(email)){
                    alert("Enter valid email!")
                }
                if(amount < 1){
                    alert("Add an amount greater $0.99!")
                }

                if(currency.length >1 && amount >= 1 && validateEmail(email)){
                    //alert("jkj!");
                    $("form").submit();
                }

            })

            let user_id = localStorage.getItem('user_id');
            
            fetch('/track_credit_card_page', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id
                })
            })
            .then(response => {
                // Handle the response, if necessary
                return response.json();
            })
            .then(res => {
                console.log(res);
            })
            .catch(error => {
                console.error('Error tracking visit:', error);
            });




            fetch('/get_wallet_balance', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id
                })
            })
            .then(response => {
                // Handle the response, if necessary
                return response.json();
            })
            .then(res => {
                console.log(res);
                $("#balance").text(
                    res.data[0].balance ? res.data[0].balance : 0
                )
            })
            .catch(error => {
                console.error('Error tracking visit:', error);
            });
        })
    </script>
</body>

</html>