<!DOCTYPE html>
<html>
    <head>

        <title>Demo Template</title>
        <style>
            @media only screen and (max-width:600px) {
                .cong{
                    font-size: 28px !important;
                }
                .recei{
                    font-size: 20px !important;
                }
                .free{
                    font-size: 24px !important;
                }
            }
            @media only screen and (max-width:900px) and (min-width:600px) {
                .cong{
                    font-size: 30px !important;
                }
            }
        </style>
    </head>
    <body>
        <main style="background-image: url('/png/daily_background.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 100%;position: absolute;left: 0;top: 0;" class="main">
            <div style="padding-top: 130px; ">
                <div class="">
                    <div style="width:fit-content;margin:auto" class="">
                        <img style="width: 90px;" src="/png/gift.png" alt="">
                    </div>
                    <div style="width:fit-content; margin:auto; line-height: 10px;">
                        <h2 class="cong" style="font-size:36px;color:#3baf01;font-weight:bold;" class="">CONGRATULATIONS!</h2>
                    </div>
                    <div style="width:fit-content; margin:auto; line-height: 20px;">
                        <h3 class="recei" style="font-size:23px;color:#430066;font-weight:bold;">
                            YOU'VE RECEIVED
                        </h3>
                    </div>
                    <div style="width:fit-content; margin:auto;line-height: 20px;">
                        <h3 class="free" style="font-size:28px;color:#430066;font-weight:bold;">
                            <span style="color:#bb00e3;">2 FREE SPINS</span> TODAY!
                        </h3>
                    </div>
                    <div style="width:300px;margin:auto;line-height: 20px;">
                        <div style="text-align:center; width: 100%; font-size: 23px; background-image:url(/png/button_.png); height:70px;background-position: center;background-repeat:no-repeat;background-size: cover;">
                            <p style="padding-top: 25px; color: white; font-weight: bold;">CLICK HERE TO PLAY</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>