<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <title></title> -->
<head>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms@0.5.7/src/index.min.js"></script>
    <script src="/js/phaser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>

<body style="
        background-image: url('https://www.ct-interactive.com/assets/Uploads/blogimages/web_jackpot__ScaleWidthWzkwMF0.jpg'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100vh;" 
    class="">
    <!-- remove or comment unused configs before publish -->
    <main style="
            position:absolute;
            left:0;
            top:0; width:100%;
            /* display:flex;
            justify-content: center;
            align-items: center; */
            height: 100%;" 
        class="">
        <div style="
                width:65%;
                text-align:center;
                padding: auto;
                margin: auto;
                margin-top: 120px;
                vertical-align:middle;   
                "    
            class="">
            
            <div 
                style="
                    background-color: white;
                    border: 5px solid #facc15;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    padding: 10px;"
                class="">
                <!-- <img src="/png/gui/MessagePanel.png" alt=""> -->
                 <div class="">
                    <p
                        style="
                            padding: 10px;
                            font-size: 35px;
                            color: #ca8a04;
                            font-weight: 600"
                        class="">
                        Your Verification Code
                        To Claim <span style="color:red;font-weight:bold" class=""> 3 FREE SPINS !</span>
                    </p>

                    <p style="font-size:20px; margin-top:40px; margin-bottom: 40px;" class="">
                        Click the button below to verify your email:
                    </p>
                   
                    
                    <div style="margin-top: 20px;" class="">
                        <a href=<%=url%> >
                            <div
                                style="
                                    width: fit-content; 
                                    margin: auto; 
                                    background-color: #fbe80a; 
                                    padding: 10px;
                                    border-radius: 10px;" 
                                class="">Verify Email</div>
                        </a>
                    </div>
                    
                        <p 
                            style="margin-top: 15px; margin-bottom: 15px;"
                            class="">
                            <a href=<%=url%> class="underline">Or click here</a> to verify instantly.</p>
                    
                    <p style="font-weight: bold;">Hurry – your code expires soon!</p>
                 </div>
            </div>
        </div>
    </main>
    <script>
    </script>
</body>

</html>