<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<!-- <title></title> -->
<head>
    <style type="text/css">
        body {
            background-image: url("new/backloads.png");
            /* The image used */
            background-color: #cccccc;
            /* Used if the image is unavailable */
            /* background: #a3a3a3; */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
            padding: 0px;
            margin: 0px;
        }

        canvas {
            display: block;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <script src="/js/phaser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="/js/barba-fade.js"></script> -->
</head>

<body class="barba-container" data-barba="container" data-barba-namespace="game_page">
    <!-- remove or comment unused configs before publish -->
    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };
        $(document).ready(function(){
            var id = getUrlParameter('id');
            if(id){
                localStorage.setItem('user_id', JSON.stringify(Number(id)));
                console.log("YYYYYYYYYYYYYYYYYYYYYYYYYYYyy");
                
            }
        })
    </script>
    <script src="/js/Http.js"></script>
    <script src="/js/slotConfig_3x5.js"></script>
    <script src="/js/mkutils.js"></script>
    <script src="/js/popups.js"></script>
    <script src="/js/state_machine.js"></script>
    <script src="/js/slot_classes.js"></script>
    <script src="/js/slotGame.js"></script>
    <script>

    </script>
</body>

</html>