<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<!-- <title></title> -->
<head>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms@0.5.7/src/index.min.js"></script> -->
    <link rel="stylesheet" href="/styles/output.css">
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
    <script src="/js/phaser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="/js/barba-fade.js"></script> -->
</head>

<body data-barba="wrapper" class="">
    <!-- remove or comment unused configs before publish -->
    <div data-barba="container" class="bg-[url('/png/landing.png')] bg-cover bg-center">
        <main class="top-0 left-0 flex flex-col items-center justify-center w-full backdrop-blur-sm bg-black/10">
            <div class="w-full p-2 mt-20 text-center sm:w-3/4 lg:w-1/2">
                <h2 class="text-3xl font-bold text-yellow-400 sm:text-7xl">Win Big!</h2>
                <h3 class="my-3 text-4xl font-semibold text-white">
                    Play for <span class="text-5xl font-bold text-green-600 uppercase">FREE</span>
                </h3>
                <h3 class="text-3xl text-white">No Deposit Needed!</h3>
    
                <div class="w-full p-5 mx-auto my-5 text-white bg-black border-4 border-yellow-400 rounded shadow animate-pulse shadow-yellow-400 sm:w-2/3 bg-opacity-70">
                    <h4 class="text-2xl font-semibold ">Collect your Daily Spins for a Chance to Win the</h4>
                    <h4 class="my-2 text-2xl font-semibold">
                        <span class="text-xl font-bold text-yellow-400 sm:text-4xl">$1,000,000</span> Jackpot!
                    </h4>
                    <p class="my-5 text-lg ">Sign up and start playing now!</p>
                    <div class="">
                        <form action="/register" method="post" id="registrationForm" class="w-full"></form>
                        <div class="flex items-center gap-4">
                            <i class="text-3xl lar la-envelope "></i>
                            
                                <input required id="email" name="email" type="email" class="w-full p-2 bg-gray-600 bg-opacity-40" placeholder="Enter your email">
                            
                        </div>
                        <input type="submit" id="submit" class="p-3 mt-5 text-xl font-semibold capitalize bg-green-600 rounded-full cursor-pointer hover:font-bold hover:bg-green-800" value="Get your free spins">
                        </form>
                    </div>
                </div>
                <!-- <a href="/fund_wallet">Test</a> -->
    
                <div class="relative w-full h-64 mx-auto my-8 bg-yellow-400 border-4 border-yellow-600 rounded shadow shadow-xl shadow-yellow-400 sm:w-2/3 rotate-3">
                    <div class="p-10"><i class="text-3xl text-yellow-600 las la-star-of-life sm:text-6xl"></i></div>
                    <h4 class="absolute w-full mx-auto my-2 text-2xl font-semibold bottom-5">
                        <span class="text-6xl font-bold">$1,000,000</span> <br> Jackpot!
                    </h4>
                </div>
    
                <div class="relative w-full h-64 p-5 mx-auto my-8 text-white bg-purple-900 border-2 border-purple-600 rounded shadow bg-opacity-70 sm:w-2/3">
                    <p class="text-xl font-semibold text-center">How to Win:</p>
                    <ol class="flex flex-col gap-2 p-4 text-left list-decimal" type="1">
                        <li>Sign up with your email</li>
                        <li>Collect your daily free spins</li>
                        <li>Spin the reels on our exciting slot machines</li>
                        <li>Match the winning symbols</li>
                        <li>Celebrate your massive $1,000,000 win!</li>
                    </ol>
                </div>
            </div>
        </main>
    </div>
    <script src="/bundle.js" defer></script>
    <script>
        $(document).ready(function(){
            
            fetch('/track-visit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    // Unique identifier, e.g., a UUID
                    identifier: ''
                })
            })
            .then(response => {
                // Handle the response, if necessary
                return response.json();
            })
            .then(res => {
                console.log(res);
                
            })
            .catch(error => {
                console.error('Error tracking visit:', error);
            });

        })
    </script>
    
</body>

</html>