<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Hyperswitch" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/checkout.css" />
    <script src="https://beta.hyperswitch.io/v1/HyperLoader.js"></script>
    <script src="/js/checkout.js" defer></script>
  </head>
  <body>
    
    <div id="payment-message" class="hidden"></div>
    
  </body>
</html>
